@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html,
body {
  background-color: rgb(209, 209, 209);
  color: #000;
  font-family: "Roboto", sans-serif;
}

.logo {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 400px;
  }
}

form {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  input {
    border: none;
    width: 300px;
    height: 40px;
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
    color: #ff5b5b;
    border-top: 2px solid #ff5b5b;
    border-bottom: 2px solid #04ff8e;
    border-left: 2px solid #8e2eff;
    border-right: 2px solid #fff152;
    outline: none;
  }
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  margin-top: 50px;
  width: 200px;
  p {
    background-color: #000;
    border-radius: 7px;
    color: #fff;
  }
  img {
    width: 200px;
  }
}
